## Load libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
sys.path.append("../libs")
sys.path.append("../")
from definitions import ROOT_DIR
import utils as utils

# Set pandas options
# Not use scientific notation and use two decimal places and use comma as thousand separator
pd.options.display.float_format = '{:,.2f}'.format

# ETL

## 1. Load dataset

In [2]:
# Load dataset from data_files/internet.xlsx - sheet: 'Ingresos '
df = utils.get_xls_sheet_data('/data_files/internet.xlsx', 'Totales Accesos Por Tecnología')
df.style.format(thousands=',')

## 2. Handling missing values

### Look for missing values in all cells

In [3]:
#Find missing values
df.isnull().sum()

Año             0
Trimestre       0
ADSL            0
Cablemodem      0
Fibra óptica    0
Wireless        0
Otros           0
Total           0
Periodo         0
dtype: int64

#### There's no missing values

## 3. Look for Duplicates

### Find duplicates for complete rows

In [4]:
#Find duplicates by complete row
df.duplicated().sum()

0

#### There's no complete duplicated rows

### Fin duplicated rows for year and quarter ('Trimestre')

In [5]:
#Find duplicated rows by row, for year and quarter
df.duplicated(subset=['Año', 'Trimestre']).sum()

0

#### There's no duplicated rows for year and quarter

## 4. Finding outliers

In [6]:
#Finding outliers
df.describe()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
count,42.00,42.00,42.00,42.00,42.00,42.00,42.00,42.00
mean,"2,018.76",2.45,"2,694,843.86","4,433,906.00","1,224,693.57","304,293.21","158,186.07","8,815,922.71"
std,3.07,1.13,"1,094,346.63","1,319,783.05","1,321,135.97","203,202.40","82,363.51","1,733,188.75"
min,"2,014.00",1.00,"733,491.00","2,407,330.00","139,187.00","70,749.00","54,300.00","6,398,398.00"
25%,"2,016.00",1.25,"1,730,869.00","3,146,291.75","171,941.00","85,390.50","70,430.00","7,218,130.75"
50%,"2,019.00",2.00,"3,061,623.00","4,535,507.00","698,946.50","292,223.00","185,221.00","8,720,658.00"
75%,"2,021.00",3.00,"3,713,297.50","5,857,192.25","1,945,689.00","515,434.00","244,069.50","10,388,730.75"
max,"2,024.00",4.00,"3,803,024.00","6,073,426.00","4,169,958.00","598,682.00","265,328.00","11,633,156.00"

#### In the statistics, we can see there's no outliers values for the column year ("Año"), because the maximum value is 2024 and the data is historical. For the quarter ("Trimestre") column the minimum an maximum values are correct, 1 and 4. For the cuantitative columns ADSL, Cablemodem, Fibra Óptica, Wireless and others, the min and max values are consitent for the mean and standard deviation. No outlies detected.

In [7]:
df.groupby(['Año','Trimestre']).sum()

                   ADSL  Cablemodem  Fibra óptica  Wireless   Otros     Total  \
Año  Trimestre
2014 1          3697066     2407330        150323     70749   72930   6398398
     2          3708882     2461670        149363     72405   72148   6464468
     3          3714764     2569868        155494     85096   70049   6595271
     4          3764038     2536219        149682     76984   71573   6598496
2015 1          3756153     2668248        168188     79098   66045   6737732
     2          3767821     2756294        150839     82077   59157   6816188
     3          3788696     2840203        162663     84530   58976   6935068
     4          3803024     2898226        139187     85726   58668   6984831
2016 1          3792493     2806359        164371     85370   58763   6907356
     2          3782085     3035272        167788     85452   59482   7130079
     3          3776442     3124855        169898     81455   54300   7206950
     4          3722794     3210602        178070     85119   55088   7251673
2017 1          3708898     3276251        180146     84813   55746   7305854
     2          3723518     3383434        180777     85813   56122   7429664
     3          3622575     3670221        193964    106443  131740   7724943
     4          3584311     3818157        211425    155775  100554   7870222
2018 1          3574294     3981129        217460    165300   98870   8037053
     2          3557216     4038141        226285    194267   94535   8110444
     3          3521447     4238171        247366    246181   93870   8347035
     4          3329027     4313831        388013    264299  178485   8473655
2019 1          3132789     4435439        637099    276419  166389   8648135
     2          2990457     4635575        760794    308027  265328   8960181
     3          2909805     4800091        852221    338241  264326   9164684
     4          2414575     4883869        941295    340144  213298   8793181
2020 1          2299457     4903674       1047817    352333  209145   8812426
     2          2295533     5005115       1106725    376667  247016   9031056
     3          2263889     5259351       1170879    413259  248821   9356199
     4          2213949     5371824       1311199    421554  253036   9571562
2021 1          2175211     5424782       1362976    434548  250455   9647972
     2          2018587     5641731       1472246    476968  253552   9863084
     3          1950631     5826257       1566048    492415  250190  10085541
     4          1657615     5984240       2072236    523107  252596  10489794
2022 1          1533240     6073426       2219533    545814  251996  10624009
     2          1468333     5979214       2723285    556243  231609  10958684
     3          1395277     6031970       2871541    557110  235230  11091128
     4          1315373     6037457       3060575    572969  221740  11208114
2023 1          1204417     6002582       3243411    576647  214838  11241895
     2          1006509     5997149       3463988    581823  202428  11251897
     3           897895     6018832       3708718    581436  200027  11406908
     4           836390     6022532       3908183    585760  194796  11547661
2024 1           774475     5986957       4015101    598682  257941  11633156
     2           733491     5867504       4169958    593197  191957  11556107

                      Periodo
Año  Trimestre
2014 1           Ene-Mar 2014
     2           Abr-Jun 2014
     3          Jul-Sept 2014
     4           Oct-Dic 2014
2015 1           Ene-Mar 2015
     2           Abr-Jun 2015
     3          Jul-Sept 2015
     4           Oct-Dic 2015
2016 1           Ene-Mar 2016
     2           Abr-Jun 2016
     3          Jul-Sept 2016
     4           Oct-Dic 2016
2017 1           Ene-Mar 2017
     2           Abr-Jun 2017
     3          Jul-Sept 2017
     4           Oct-Dic 2017
2018 1           Ene-Mar 2018
     2           Abr-Jun 2018
     3          Jul-Sept 2018
     4           Oct-Dic 2018
2019 1           Ene-Mar 2019
     2           Abr-Jun 2019
     3          Jul-Sept 2019
     4           Oct-Dic 2019
2020 1           Ene-Mar 2020
     2           Abr-Jun 2020
     3          Jul-Sept 2020
     4           Oct-Dic 2020
2021 1           Ene-Mar 2021
     2           Abr-Jun 2021
     3          Jul-Sept 2021
     4           Oct-Dic 2021
2022 1           Ene-Mar 2022
     2           Abr-Jun 2022
     3          Jul-Sept 2022
     4           Oct-Dic 2022
2023 1           Ene-Mar 2023
     2           Abr-Jun 2023
     3          Jul-Sept 2023
     4           Oct-Dic 2023
2024 1           Ene-Mar 2024
     2           Abr-Jun 2024

#### All pairs year-quarter are present, there's no missing data.

#### All columns have consistent growth or decrease patterns. The kind of pattern is given for the The oldness of the technologie, having a decrease patternt for the oldest (i.e. ADSL) and a growth one for the newest (i.e. Optical and Wireless ). This will be explored in detail in the EDA section.

## 5. Data Types

### We will review the data types for each column.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           42 non-null     int64
 1   Trimestre     42 non-null     int64
 2   ADSL          42 non-null     int64
 3   Cablemodem    42 non-null     int64
 4   Fibra óptica  42 non-null     int64
 5   Wireless      42 non-null     int64
 6   Otros         42 non-null     int64
 7   Total         42 non-null     int64
 8   Periodo       42 non-null     object
dtypes: int64(8), object(1)
memory usage: 3.1+ KB

#### The data types are consistent with the data provided. Just the column "Periodo" have an object data type, and have strings values. We should change the data type to string, but since the data is redundant with the quarter ("Periodo") column, we will drop it.

In [9]:
#drop Periodo column
df = df.drop('Periodo', axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           42 non-null     int64
 1   Trimestre     42 non-null     int64
 2   ADSL          42 non-null     int64
 3   Cablemodem    42 non-null     int64
 4   Fibra óptica  42 non-null     int64
 5   Wireless      42 non-null     int64
 6   Otros         42 non-null     int64
 7   Total         42 non-null     int64
dtypes: int64(8)
memory usage: 2.8 KB

## New columns

### Create a new column with the year and quarter

In [10]:
#Create a new column with the quarter and year
df['Periodo'] = (df['Año'].astype(str) + 'T' + df['Trimestre'].astype(str)).astype('string')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           42 non-null     int64
 1   Trimestre     42 non-null     int64
 2   ADSL          42 non-null     int64
 3   Cablemodem    42 non-null     int64
 4   Fibra óptica  42 non-null     int64
 5   Wireless      42 non-null     int64
 6   Otros         42 non-null     int64
 7   Total         42 non-null     int64
 8   Periodo       42 non-null     string
dtypes: int64(8), string(1)
memory usage: 3.1 KB

# Save dataset

In [11]:
df=df.reset_index()
df.to_parquet(ROOT_DIR + '/data_files/accesos_totales_tecnologia_clean.parquet')